/* Global styles */
:root {
    /* Primary */
    --purple: #854dff;
    --lt-red: #ff5757;

    /* Neutral */
    --white: #ffffff;
    --off-white: #f0f0f0;
    --lt-grey: #dbdbdb;
    --smoke: #716f6f;   
    --off-blk: #141414;
}

body, h1, h2, h3, h4, h5, h6, p,
dl, dd, blockquote, figure {
    margin: 0;
}

body {
    font-size: 1.5rem;
    font-family: 'Poppins';
    font-weight: 700;
    background-color: var(--off-white);
    margin: 5.5rem 1rem 1rem 1rem;
    
    display: flex;
    justify-content: center;
}

h2 {
    font-size: 3.5rem;
    font-weight: 800;
    font-style: italic;
    line-height: 120%;
    color: var(--off-blk);
}

/* Mobile styles */
.age-calc {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 3rem 1.5rem 2.5rem 1.5rem;
    border-radius: 1.5rem 1.5rem 6rem 1.5rem;
    background-color: var(--white);
    color: var(--off-blk);
}

.date-fields {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.field-title {
    font-size: .75rem;
    color: var(--smoke);
    letter-spacing: .24rem;
}

.input {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

input {
    border: 1px solid var(--lt-grey);
    outline: none;
    border-radius: .5rem;
    cursor: pointer;

    color: var(--off-blk);
    font-family: 'Poppins';
    font-size: 1.25rem;
    padding: .75rem 1rem;
    width: 100%;
    box-sizing: border-box;
}

input:hover {
    border: 1px solid var(--purple);
}

input:focus {
    border: 1px solid var(--purple);
}

::placeholder {
    font-size: 1.25rem;
    font-family: 'Poppins';
    font-weight: 700;
    color: var(--smoke);
}

.icon-btn {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}

.btn-divider {
    position: absolute;
    width: 100%;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--purple);
    width: 4rem;
    height: 4rem;
    border-radius: 10rem;
    z-index: 2;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--off-blk);
    transition: 250ms ease-out;
}

.arrow {
    width: 1.75rem;
    height: auto;
}

hr {
    border: 1px solid var(--lt-grey);
}

.results {
    display: flex;
    flex-direction: column;
}

.output {
    color: var(--purple);
}

.error {
    font-size: 0.875rem;
    font-weight: 400;
    font-style: italic;
    color: var(--lt-red);
    margin-top: .25rem;
}

.error-field {
    border: 1px solid var(--lt-red);
}

.error-title {
    color: var(--lt-red);
}

/* Tablet styles */
@media screen and (min-width: 768px) {
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      min-height: 100svh;
      margin: 0;
    }

    .age-calc {
        margin-left: 20%;
        margin-right: 20%;
        gap: 0;
        padding: 2.5rem;
        border-radius: 1.5rem 1.5rem 12rem 1.5rem;
    }

    .date-fields {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 1rem;
        margin-bottom: 1rem;
    }

    .field-title {
        font-size: .835rem;
    }

    .input {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    input {
        border: 1px solid var(--lt-grey);
        outline: none;
        border-radius: .5rem;
        cursor: pointer;
    
        color: var(--off-blk);
        font-family: 'Poppins';
        font-size: 2rem;
        padding: .75rem 1.5rem;
        width: 100%;
        box-sizing: border-box;
    }

    ::placeholder {
        font-size: 2rem;
        font-family: 'Poppins';
        font-weight: 700;
        color: var(--smoke);
    }
    
    .icon-btn {
        justify-content: flex-end;
        margin-top: -.735rem;
    }

    .btn {
        width: 6rem;
        height: 6rem;
        border-radius: 10rem;
    }

    .arrow {
        width: 3rem;
        height: auto;
    }

    h2 {
        font-size: 4.5rem;
        font-weight: 800;
        font-style: italic;
        line-height: 110%;
        color: var(--off-blk);
    }
}

/* Desktop styles */
@media screen and (min-width: 1088px) {
    .age-calc {
        padding: 3.5rem 3.5rem 3rem 3.5rem;
    }
    
    .date-fields {
        display: flex;
        flex-direction: row;
        width: 75%;
        gap: 1.75rem;
        margin-bottom: 0;
    }
    
    h2 {
        font-size: 6.5rem;
        font-weight: 800;
        font-style: italic;
        line-height: 110%;
        color: var(--off-blk);
    }
}
